
            body {
                background-image: url(1.jpg);
                background-size: cover;
                font-family:alegreya ;
                background-color: #f4f4f4; 
                width: 100%;
            }
             .nav{
                display: inline-block ;
                padding-top: 10px;
                padding-left: 10px;
                padding-bottom: 8px;
                border-radius: 10px;
                align-items: center;
                background-color: #d1cbcb;
                opacity: 0.85;
                width : 150px;
            }
            .dashboard-container {
                
                width: 94%;           
                margin: 0px; 
                margin-bottom: auto;    
                padding: 40px;           
                background-color: #e9e3e3;
                opacity: 0.75;
                display: flex;
                gap : 30px;
                flex-wrap: wrap;              
    
              }
              .user{
                text-align: left;
                padding-top: 10px;
                padding-left: 10px;
                padding-bottom: 8px;
                color: rgb(187, 41, 41); 
                border-radius: 10px;
                align-items: center;
                background-color: #d1cbcb;
                opacity: 0.85;
                width : 300px;
              }

            .values {
                font-family:  sans-serif;
                color: #555;
                padding: 40px;
                margin: 40px;
                max-width: 1000px;
                
            }
            .list{
                padding-left: 50px;
            }
            .cards{
                display: flex;
                gap: 30px;
                flex-wrap: wrap;
            }
            .card{
                font-weight: bold;
                color :rgb(187, 41, 41);
                background-color: #d1cbcb;
                text-align:  center;
                border-radius: 10px;        
                padding: 10px;
                margin: 10px;
                width: 250px;
                box-shadow: 4px 4px 8px rgba(136, 115, 115, 0.1);
                opacity: 0.85;
            }
            .session{
                width: 70%;           
                margin: 0px; 
                margin-bottom: auto;    
                padding: 40px;           
                background-color: #e9e3e3;
                opacity: 0.75;   
                font-weight: bold;        
    
            }
            h3 {
                padding-left: 20px;
                border-radius: 10px;
                width: 140px;
                background-color: antiquewhite;
                padding-left: 20px;
                color: rgb(187, 41, 41);
                font-weight: bold;
                font-size: 150%;
            }
            ul {
                padding-left: 20px;
            }
           a {
                color: rgb(141, 8, 30);
                font-weight: bold;
            }
    
    
            li {
                margin-bottom: 8px;
            }

            table {
                width : 77%;
                margin-top: 20px;
                background-color: #d1cbcb;
                border-collapse: collapse; 
                opacity: 0.85;
                }

            th, td {
                text-align: justify;
                padding-left: 20px;
                padding-bottom: 16px;
                padding-top: 16px;
                padding-right: 100px;
                border-bottom: 2px solid #ddd;
            }

             .navigation{
                display: flex;
                gap: 30px;
                flex-wrap: wrap;
                padding-bottom: 20px;
                align-items: center;
            }
            .list_session{
                border-radius: 8px;
                text-align: left;
                width: 20%;
                background-color: antiquewhite;
                
            }