body {
                font-family: alegreya;
                background-image: url('2.jpg');
                page-orientation: landscape;
                background-repeat: no-repeat;
                background-size: cover;
            }
            
            form {
               
                margin: 0 auto;
                padding: 20px;
                border: 1px solid #ccc;
                border-radius: 10px;
                max-width: 400px;
                background-color: #ece8e8;
                opacity: 0.75;
            }
            .singin{
            
                margin-top: 20%;
                text-align: center;
                color: rgb(141, 8, 30);
                font-size: 20px;
                font-family: Arial, sans-serif;
                padding : 40px;
                max-width: 1500px;

            }