body {
    font-family: alegreya;
    background-image: url('../images/2.jpg');
    page-orientation: landscape;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 600px;
    background-color: #ece8e8;
    opacity: 0.75;
}

.singin{
    margin-top: 15%;
    text-align: center;
    color: rgb(141, 8, 30);
    font-size: 20px;
    font-family: Arial, sans-serif;
    padding: 40px;
    max-width: 1500px;
}

input[type="text"], input[type="password"], select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"], button {
    background-color: rgb(141, 8, 30);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover, button:hover {
    background-color: rgb(120, 6, 25);
}